* {
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
}
.container {
  max-width: 800px;
  min-width: 350px;
  margin: 20px auto;
  padding: 50px;
  background-color: white;
  position: relative;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
}

.bookmark-title {
  padding: 10px;
  background-color: rgb(34, 126, 168)
}

.bookmark-title:hover {
  background-color: rgb(25, 105, 143)
}

.bookmark-button {
  display: inline-block;
}

.page-title {
  text-align: center;
  color: black;
  margin: auto;
  padding: 20px;
}

.add-element {
  margin-bottom: 10px;
  position: relative;
}

.bookmark-buttons, .bookmark-desc{
  text-align: center;
  padding: 10px;
}

.bookmark-rating {
  float: right;
}

#bookmark-form {
  display: block;
  padding: 35px 20px;
  border: 1px solid grey;
  background-color: lightblue;
  height: 180px;
}

.cancel-bookmark {
  position: absolute;
  top: 95px;
  right: 50px;
}

.add-bookmark {
  position: absolute;
  top: 55px;
  right: 80px
}

.add-element {
  margin-top: 10px;
  position: relative;
}

.js-bookmark-description {
  width:  370px;
}

.form-input {
  margin-bottom: 10px;
  padding: 5px;
}

.top-click {
  width: 160px;
  padding: 5px;
  height: 35px
}

.form-btn {
  background-color: rgb(170, 199, 231);
  border: none;
  padding: 5px;
  width: 120px;
  height: 30px;
}

.form-btn:hover {
  background-color: dodgerblue
}

.btn {
  padding: 5px;
  border: none;
  background-color: rgb(193, 218, 233);
}

.btn:hover {
  background-color: rgb(148, 192, 219);
}

.fa-star {
  color: gold;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.js-bookmark-link, .js-bookmark-delete {
  width: 150px
}

.title-name {
  font-size: 16px;
  display: inline;
}

.js-star-rating {
  position: absolute;
  right: 0;
}

.entry-label {
  display: none;
}

.error-box {
  text-align: center;
  background-color: yellow;
}
